.fly-1 {
  height: 50px;
  width: 50px;
}

.fly-2 {
  height: 70px;
  width: 70px;
}

.fly-3 {
  height: 90px;
  width: 90px;
}


.side-A {
  transform: scaleX(1);
}

.side-B {
  transform: scaleX(-1);
}
